
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    /* border: 2px solid black; */
}

div#inside {
    text-align: center;
    width: 100%;
    border: 5px solid white;
    display: block;
    background-color: lightblue;
}
div#outside {
    text-align: center;
    width: 100%;
    border: 1px solid lightblue;
    display: block;
    background-color: white;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

header {
    padding: 1em;
    color: black;
    background-color: lightblue;
    clear: left;
    text-align: center;
}

nav {
    text-align: left;
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}
